header {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 10vh;
    padding-top: 3vh;
    padding-bottom: 2vh;
    background-color: #487272;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}