footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 10vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: rgb(91, 68, 92);
    color: rgb(255, 255, 255);
    font-size: 0.9em;
}
