
<!-- Inputfält för sökning och filtrering av kurser-->

<div class="course-form">
    <label for="filter">Filtrera efter kursnamn:</label><br>
    <input type="text" id="filter" [(ngModel)]="inputValue" (input)="filterCourses()">
</div>

<!-- Kontroll av felaktig input i inputfält -->
 @if(filteredCourses.length === 0) {
    <div class="errorMsg">Inga kurser hittades...</div>
 }

<!-- Tabell för utskrift och sortering av kurser -->
<table class="course-table">
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Progression</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
        <td>{{ course.code}}</td>
        <td>{{ course.coursename }}</td>
        <td>{{ course.progression }}</td> 
        </tr>
    </tbody>
</table>