.course-form {
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 4px;
    width: 100%;
}

input[type=text] {
    width: 40%;
    padding: 1px;
    border-radius: 4px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.label {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
}

.course-table {
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 4px;
    width: 100%;
}

p {
    margin-top: 2vh;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    line-height: 1em;
    color: black;
    text-align: left;
}

button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0.5vw;
    border-radius: 5px;
}

.errorMsg {
    color: rgb(255, 0, 0);
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 4px;
    width: 100%;
}
